@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>If you need a skilled Web Developer MVC/ASP.NET C# and Data Warehouse/Business Intelligence project, I can help you. I am a Microsoft MCSA and MCP and studied and work at Pepperdine University and Wells Fargo Bank.</p>
<p name id="mvc">
    The <a href="/client/">Clients</a>, <a href="/Customer/">
    Transactions</a>, <a href="~/movie/">MOVIES</a>  menu demonstrates the following:
    <ul>
        <li>Code Migration: using add-migration, update-database</li>
        <li>ViewModel: integrating multiple models in one class</li>
        <li>ApplicationDbContext: for database connection</li>
        <li>Eager Loading: specially for Drop Down List Models</li>
    </ul>
</p>

<p name id="sp">
    The SharePoint skills demonstrates the following:
    <ul>
        <li>WorkFlow: auto-email approval managers</li>
        <li>InfoPath/Rules: auto-fill form</li>
        <li>List and Items</li>
        <li>Web Parts/ASP.NET</li>
    </ul>
</p>