@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alton Parkway<br />
    Irvine, CA 92802<br />
    <abbr title="Phone">P:</abbr>
    323.351.3786
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lothor@hotmail.com">lothor@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:lothor@hotmail.com">info@lothorenteprise.com</a>
</address>