@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><img align="left" src="~/lothorlogo.gif" width="100" height="89" />My name is Roger Lotho. I currently work for Wells Fargo as a SharePoint/.NET/MVC/C# developer.<br/>Get short tips in ASP.NET, MVC, C# framework and SharePoint.
    <br><a href="/home/About/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET/MVC</h2>
        <p>
            ASP.NET MVC build dynamic websites for an agile development. See how you can combine two Models in a page View. Demostrating Data Annotations, DbContext, Code-Migration, Forms and Validation
        </p>
        <p><a class="btn btn-default" href="/home/About?#mvc">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SharePoint InfoPath</h2>
        <p>Demonstrate the use of Auto-fill, Auto-email in Workflows, Data Connection, List, Items, Approval</p>
        <p><a class="btn btn-default" href="/home/About?#sp">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Data Warehouse/BI</h2>
        <p>I am currently working under the Data Warehouse and Business Intelligence team. A lot of SQL, triggers, Joins, Stored Procedures</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>